body {
  background-image: url(estrellas-de-fondo.svg);
}

header {
  background-color: black;
  margin: -8px;
  padding: 5px;
  text-align: center;
  opacity: 0.5;
}

#titulo-de-barra {
  color: white;
  font-size: 30px;
}

#Titulo-Principal {
  font-size: 50px;
  color: white;
  text-align: center;
}

#Subtitulo {
  font-style: italic;
  text-align: center;
  font-size: 30px;
  color: white;
}

.Cajas {
  width: 350px;
  height: 300px;
  background: repeating-linear-gradient(90deg,
      #2aa9e9,
      #009af5,
      #0088fe,
      #0074ff,
      #005aff);
  border-radius: 20px;
  text-align: center;
}

.Cajas-Animadas:hover {
  background: repeating-linear-gradient(90deg,
      #b501aa,
      #c713b2,
      #d920b9,
      #eb2cc1,
      #fd37c8);
  ;
}

/* Primeras Cajas */

#Juice {
  left: 100px;
  position: relative;
}

#KanaTomo {
  left: 100px;
  position: relative;
  top: 50px;
}

#MochiKumugi {
  left: 100px;
  position: relative;
  top: 100px;
}

#Ami {
  left: 100px;
  position: relative;
  top: 150px;
}

#Festivales {
  left: 100px;
  position: relative;
  top: 200px
}

/* Cajas del centro */

#Dino {
  position: absolute;
  left: 500px;
  bottom: 105px;
}

#PlasticLove {
  position: absolute;
  left: 500px;
  top: 568px;
}

#Tomori {
  position: absolute;
  left: 500px;
  top: 918px;
}

#Ruru {
  position: absolute;
  left: 500px;
  top: 1270px;
}

#TeamDorion {
  position: absolute;
  left: 500px;
  top: 1615px;
}

/* Cajas finales */

#ReiRei {
  position: absolute;
  left: 890px;
  bottom: 105px;
}

#SoundOrion {
  position: absolute;
  left: 890px;
  bottom: 105px;
  top: 568px;
}

#Kukugumi {
  position: absolute;
  left: 890px;
  bottom: 105px;
  top: 918px;
}

#Uemu {
  position: absolute;
  left: 890px;
  bottom: 105px;
  top: 1270px;
}

#Inicio {
  position: absolute;
  left: 890px;
  bottom: 105px;
  top: 1615px;
}

/* Lado Blanco de las cajas */

.Blanco {
  background-color: white;
  width: 350px;
  height: 50%;
  position: relative;
  top: 90px;
  border-radius: 20px;
}

/* Dentro de las cajas */

.NumeroDePractica {
  font-size: 35px;
  font-weight: bold;
  position: relative;
  top: 40px;
}

.NombreDePractica {
  position: relative;
  top: 45px;
  font-style: italic;
  font-size: 25px;
}

.Iconos-de-Caja {
  width: 100px;
  height: 100px;
  position: relative;
  top: 20px;
}

footer {
  background-color: black;
  margin: -8px;
  padding: 20px;
  text-align: center;
  opacity: 0.5;
  margin-top: 250px;
  color: white;
}