body {
    background-color: #26000D;
    color: beige;
}


header {
    background-color: #003D29;
    margin: -8px;
    padding: 10px;
}

#OrionIcono {
    width: 50px;
    height: 50px;
}

#menu {
    height: 50px;
    width: 50px;
    margin-left: 1170px;
}

#titulo-principal {
    text-align: center;
    font-size: 100px;
    font-family: 'Cormorant SC', serif;
}

#Subtitulo {
    text-align: center;
    font-size: 50px;
    font-family: 'Cormorant SC', serif;
}

p {
    text-align: center;
    font-size: 30px;
    font-family: 'Ibarra Real Nova', serif;
}

#song {
    margin-left: 450px;
    width: 400px;
    height: 400px;
}

#Musica {
    font-size: 20px;
    color: white;
    background-color: #8F1700;
    margin-top: 20px;
    margin-left: 550px;
    padding: 20px;
    margin-bottom: 170px;
}

footer {
    background-color: #120021;
    margin: -8px;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
}